@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-openSans;
  }

  h1,
  h2,
  h3 {
    @apply font-roboto;
  }

  h4,
  h5,
  h6 {
    @apply font-openSans;
  }

  a,
  button {
    @apply font-roboto;
  }
}

@layer components {
  button,
  a {
    @apply focus:outline-none;
  }
}
.animation-style {
  background: black;
  color: black;
  z-index: 50;
}