@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply font-openSans;
  }

  h1,
  h2,
  h3 {
    @apply font-roboto;
  }

  h4,
  h5,
  h6 {
    @apply font-openSans;
  }

  a,
  button {
    @apply font-roboto;
  }
}

/* 
@layer components {

  button,
  a {
    @apply focus: outline-none;
  }
} */

#background-video {
  z-index: 0;
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  /* optional depending on what you want to do in your app */
}

/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-blue-600;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}